/* GFONTS ROBOTO */     @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* GFONTS BebasNeue*/   @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* CDN FontAwesome*/    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', 'Arial';}
body {background-color: #abdeb6;}

/* HEADER STYLES ------------------------------- */
header {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #abdeb6;
}

/* FLEX BASIS */
.logo {flex-basis: 15%;}
.input-header-container {flex-basis: 20%;}
.header-nav {flex-basis: 30%;}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4rem;
}
.logo img {
    width: 70px;
    height: 70px;

    margin: 0 1rem;
}
.logo a{text-decoration: none;}
.logo h1 {
    font: normal 48px 'Bebas Neue';
    color: rgb(46, 46, 46);
    padding-top: .2rem;
}

.input-header-container {
    margin: 0 4.2rem 0 4rem;
}
.input-header-container input {
    padding: .4rem .8rem;
    border-radius: 15px;
    border: none;
    width: 100%;
    background-color: #d7f5de;
}
.header-nav {
    margin-left: auto;
    margin-right: 4rem;
}
.header-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    list-style: none;
}
.header-nav a, .header-nav ul>li p{
    font: normal 18px 'Roboto';
    color: rgb(46, 46, 46);
    text-decoration: none;
    transition: .1s ease;
}
.header-nav a:hover{
    cursor: pointer;
    color: white;
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.user p {
    font: normal 18px 'Roboto';
    margin-right: 1rem;
}
.user .fa-user{
    width: 40px;
    height: 40px;
    background-color: rgb(46, 46, 46);
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #abdeb6;
}
.li-relative{
    position: relative;
}
/* LOGIN STYLES */
.login-container {
    position: absolute;
    display: none;
    top: 3.8rem;
    left: -7.3rem;
    z-index: 10;

    padding: 1rem;
    background-color: white;
    width: 300px;
    border-radius: 15px;
    border: 1px solid rgba(190, 190, 190, 0.564);
    box-shadow: 14px 16px 31px -3px rgba(0,0,0,0.1)
}
#user-button {background-color: #abdeb6; border: none; transition: .2s ease;}
#user-button:hover {cursor: pointer;}
#user-button>p:hover{color: white;}

.login-container div h4 {
    font: bold 16px 'Roboto';
    text-align: center;
    margin-bottom: 1rem;
}
.email-input, .password-input {
    width: 80%;
    margin: 0 auto;
}
.login-input input, .register-input input {
    padding: .4rem .8rem;
    border-radius: 15px;
    border: none;
    width: 100%;
    background-color: rgb(239, 240, 239);
    margin-bottom: 1.5rem;
}
.btn-login {
    text-align: right;
}
#login-button {
    border: none;
    width: 100px;
    background-color: #6c8f73;
    font: bold 12px 'Roboto';
    color: white;
    padding: .4rem 0;
    border-radius: 15px;
    transition: .2 ease;
}
#login-button:hover {
    cursor: pointer;
    background-color: #8ab593;
}
.register-text {width: 80%; margin: 1rem auto;}
.register-text button {
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: none;
}
.register-text button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #6c8f73;
}
.register-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.register-buttons button {
    width: 40%;
    border: none;
    width: 100px;
    font: bold 12px 'Roboto';
    padding: .4rem 0;
    border-radius: 15px;
    transition: .2s ease;
}
.register-buttons button:hover {
    cursor: pointer;
}
.register-buttons #cancel-register {
    color: rgb(46, 46, 46);
}
.register-buttons #register {
    background-color: #6c8f73;
    color: white;
} #register:hover {background-color: #8ab593;}
.logout{
    width: 100%;
    text-align: center;
}
.logout button{
    width: 50%;
    border: none;
    background-color: #6c8f73;
    font: bold 12px 'Roboto';
    color: white;
    padding: .4rem 0;
    border-radius: 15px;
    transition: .2 ease;
}
.logout button:hover {
    cursor: pointer;
    background-color: #8ab593;
}
.admin-link h1{
    font: normal 16px 'Roboto';
    margin-bottom: 1rem;
}
.admin-link h1:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #6c8f73;
}

/* CART STYLES */
#cart-button {
    background-color: #abdeb6;
    border: none;
}
#cart-button:hover{cursor: pointer;}
#cart-button .fa-cart-shopping {
    color: rgb(46, 46, 46);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-container {
    position: absolute;
    top: 4rem;
    left: -15.5rem;
    z-index: 10;
    display: none;

    padding: 1rem;
    background-color: white;
    width: 350px;
    border-radius: 15px;
    border: 1px solid rgba(190, 190, 190, 0.564);
    box-shadow: 14px 16px 31px -3px rgba(0,0,0,0.1)
}
.cart-list-titles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #8ab593;
    padding: .5rem;
    border-radius: 10px;
} .cart-list-titles p {color: white !important;}

.cart-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: .5rem;
    padding: .5rem;
}
.remove-item {
    background-color:transparent; 
    border:none; 
    margin-left:.5rem;
}
/* CART ITEM FLEX BASIS */
.cart-col1{flex-basis: 60%;}
.cart-col2{flex-basis: 5%;}
.cart-col3{flex-basis: 25%; text-align: right;}
.cart-col4{flex-basis: 5%;}

.total-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}
.total-button button {
    width: 5rem;
    margin-left: 1rem;
    padding: .2rem;

    background-color: #6c8f73;
    font: bold 14px 'Roboto';
    color: white;
    border: none;
    border-radius: 15px;
    transition: .2s ease;
}
.total-button button:hover {
    cursor: pointer;
    background-color: #8ab593;
}
/* Cuando se pulsa en carrito pasa de display none a block en JS */
.show {display: block;}

.cart-item-counter{
    position: absolute;
    top: 1rem;
    right: -1rem;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #6c8f73;
    font: bold 14px 'Roboto';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MAIN STYLES ------------------------------- */
main {
    width: 96%;
    height: 100%;
    margin: .2rem auto 2rem auto;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-columns: 1fr 3fr;
}
.col {flex: 1;}

/* FLEX BASIS */
.filter-container{flex-basis: 25%;}
.grid-container{flex-basis: 75%;}


/* FILTER STYLES ------------------------------- */
.filter-container {
    background-color: #6c8f73;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 2rem;
}
.filter-container label {
    color: white;
    font: bold 16px 'Roboto';
}
.filter-container h1 {
    margin-bottom: 2rem;
    text-align: center;
}
.order-by {
    display: flex;
    flex-direction: column;
}
.order-by label {
    margin:0 0 1rem .5rem;
}
.order-by select {
    padding: .4rem .8rem;
    border-radius: 15px;
    border: none;
    width: 100%;
    background-color: rgb(239, 240, 239);
    margin-bottom: 2rem;
}
.price-filter label {
    margin:0 0 1rem .5rem;
}
#price-slider {
    margin:1rem 0 4rem 0;
}
#accordion{
    width: 100%;
    text-align: left;
    margin:1rem 0;
    padding: .4rem .8rem;
    border-radius: 15px;
    border: none;
    background-color: #abdeb6;

    display: flex;
    align-items: center;
    transition: .2s ease;
}
#accordion p {font: normal 13px 'Roboto'; color: black;}
#accordion i {margin-left: auto; color: rgb(46, 46, 46);}
#accordion:hover {
    cursor: pointer;
    background-color: #c0f6cc;
}

.brand-list {
    display: block;
    margin-bottom: 2rem;
}
.brand-list>label{
    margin-left:.5rem;
    margin-bottom: 1rem;
}

/* GRID STYLES ------------------------------- */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
}
/* CARD STYLES */
.card {
    border: 1px solid rgba(190, 190, 190, 0.564);
    border-radius: 15px;
    padding: .5rem;
    height: 315px;
}
.laptop-img {
    padding: 0 !important;
    height: 180px;
    width: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.laptop-img img {
    display: block;
    margin: 0 auto 0 auto;

    background-size: cover;
    width: auto;
    height: 180px;
}
.card h2 {
    margin: 1rem 0 .2rem 1rem;
    font: bold 20px 'Roboto';
}
.card h3 {
    margin: .5rem 0 .2rem 1rem;
    font: normal 16px 'Roboto';
}
.card h4 {
    font: bold 18px 'Roboto';
    color: #6c8f73;
}
.card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
}
.card-buttons h4{
    margin-left: 1rem;
}
.add-to-cart {
    color: rgb(241, 241, 241);
    background-color: #6c8f73;
    transition: .2s ease;
    margin-right: 1rem;
}
.add-to-cart:hover{
    cursor: pointer;
    background-color: #8ab593;
}

/* FLEX BASIS CARD BUTTONS */
.btn-more-info {flex-basis: 70%; margin-right: 1rem;}
.add-to-cart {flex-basis: 30%;}

/* CARD BUTTONS */
.btn-more-info, .add-to-cart{
    padding: .4rem 0;
    border: none;
    border-radius: 15px;
}
/* Cursor pointer en ambos botones */
.btn-more-info:hover, .add-to-cart:hover{
    cursor: pointer;
}

/* LAPTOP RES MEDIA QUERIES */
@media (max-width: 1366px){
    header {
        height: 4rem;
    }
    .logo img {
        width: 50px;
        height: 50px;
    }
    .logo a h1 {
       font: normal 36px 'Bebas Neue';
    }
    .input-header-container{
        flex-basis: 30%;
    }
    .header-nav a, .header-nav ul li p {
        font: normal 16px 'Roboto';
    }
    .user .fa-user{
        width: 30px;
        height: 30px;
    }
    .user i {font-size: 16px;}
    .cart i {font-size: 26px;}
    .cart-item-counter {
        top: 1.5rem;
        width: 20px;
        height: 20px;
        right: -.3rem;
    } .cart-item-counter p {font: normal 14px 'Roboto' !important;}
}